html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
  --bg-color: white;
  overflow: hidden;
}

div {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  .space-filler {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

header {
  display: flex;
  justify-content: center;
  height: 80px;

  background-image: linear-gradient(#1e415e 10%, #2b5b84 90%);
  color: white;

  img {
    margin-right: 14px;
    max-height: 70px;
    position: relative;
    top: 5px;
  }

  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 32px;
    font-weight: bold;
    line-height: 80px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;

  & > .title {
    align-self: start;
  }
}

#now {
  background-color: #ffd343;
  color: rgb(90, 90, 90);

  #current-clip {
    color: rgb(64, 64, 64);
    text-align: center;
    font-size: 1.2em;
    margin-top: 3px;
  }
}

#history {
  background-color: rgb(200, 200, 200);
  color: rgb(42, 42, 42);

  .title {
    color: rgb(80, 80, 80);
  }

  .clip {
    margin-bottom: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

    &:hover {
      background-color: rgba(16, 16, 16, 0.1);
    }
  }

  #history-clips {
    text-align: center;

    td:first-child {
      padding-inline-end: 1em;
      opacity: 0.85;
      font-family: monospace;
    }
  }
}

footer {
  margin-top: 10px;
  padding: 10px 0px;
  color: rgb(100, 100, 100);
  font-size: 14px;
  text-align: center;
  background-color: var(--bg-color);

  a {
    color: rgb(55, 118, 171);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: rgb(32, 32, 32);
  }

  #about {
    color: rgb(180, 180, 180);
  }

  #history {
    background-color: rgb(48, 48, 48);
    color: rgb(180, 180, 180);
  }

  #history .title {
    color: rgb(220, 220, 220);
  }
}
