name: Unit tests

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Install PortAudio
        run: |
          sudo apt install -y libportaudio2 portaudio19-dev

      # If the webapp/dist folder is empty the go build will fail
      - name: Fake NPM build
        run: |
          mkdir webapp/dist
          touch webapp/dist/index.html

      - name: Run tests
        run: go test -v ./...
